<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Iris-UseCase</title>
    <link rel="shortcut icon" href="../img/iris.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/parallelCordMBostock.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'>
</head>

<body>
    </script>
    <!-- load bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- load jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <!-- load jQuery UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- load libraries for multiselect dropdown -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <!-- multi select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css">
    <!-- toggle switch -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <!-- start wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar" class="card m-0 p-0">
            <!-- show is used here to hide or show the sidebar by default-->
            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                <div class="card m-0 p-0 pb-1" style="display:flex; text-align: left;">
                    <img src="../img/iris.png" alt="Iris" style="display: block; margin-top:20px; margin-left:auto; margin-right: auto; width: 30%;">
                    <h6 id="dashboardHeader" style="margin:0; padding: 0; text-align:center; color:rgb(18, 113, 249)">Iris Dataset</h6>
                </div>
                <hr class="double">
                <div class="card m-0 p-0 py-2" style="display:flex; text-align: left;">
                    <!-- search bar to search specific participant -->
                    <div class="container" style="display:inline-block; text-align: left; font-size: 13px;">
                        <div class="row">
                            <div class="col-10 m-0 p-0 pl-0">
                                <span class="pl-1" onclick=alertSearchBar()><i
                                        class="fa-solid fa-circle-question help"></i></span>
                                <label class="pl-0" style="font-size: 13px; font-weight:500;"> Search Id</label>
                            </div>
                            <div class="col-2 m-0 p-0">
                                <button class="button" id="btn-searchId">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                        <div class="input-group input-group-sm m-0 p-0 scaled" style="width: 13em; left: -2em;">
                            <input type="text" id="searchSelector" class="form-control" aria-label="Search" stlye="text-align: center;" />
                        </div>
                    </div>
                    <br>
                    <hr>

                    <!-- multi select dropdown -->
                    <div class="container m-0 p-0" style="display:inline; text-align: left; font-size: 13px;">
                        <span class="pl-1" onclick=alertFeatureSelection()><i class="fa-solid fa-circle-question"></i></span>
                        <label class="pl-2" style="font-size: 13px; font-weight:500; ">Feature Selection</label>
                        <div class="row m-0 ml-2 p-0">
                            <div class="col-10 mr-0 pr-0 pl-1">
                                <select id="featureSelect" multiple>
                                <option value="sepal_length" selected="selected">Sepal Length</option>
                                <option value="sepal_width" selected="selected">Sepal Width</option>
                                <option value="petal_length" selected="selected">Petal Length</option>
                                <option value="petal_width" selected="selected">Petal Width</option>
                            </select>
                            </div>
                            <div class="col-2 m-0 p-0 pt-2">
                                <button class="button" id="btn-featureSelection">
                                <i class="fa-solid fa-play"></i>
                            </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>

                    <script>
                        //settings for multiselect dropdown - run at the begining of page refresh/first load
                        $('#featureSelect').multiselect({
                            enableClickableOptGroups: true,
                            enableCollapsibleOptGroups: true,
                            enableFiltering: true,
                            filterPlaceholder: 'Search',
                            includeSelectAllOption: true,
                            buttonWidth: '120px',
                            maxHeight: screen.height * 0.6,
                            // buttonClass: 'btn btn-link',
                            numberDisplayed: 1
                        })
                    </script>

                    <!-- k-param -->
                    <div class="container m-0 p-0" style="display:inline-block; text-align: left; font-size: 13px;">
                        <span class="pl-1" onclick=alertKparam()><i class="fa-solid fa-circle-question"></i></span>
                        <label class="pl-2" style="font-size: 13px; font-weight:500; "> K param for KNN</label>
                        <div class="row m-0 p-0">
                            <div class="col-10 num-block skin-1 m-0 p-0 pl-2">
                                <div class="num-in" id="knnSpinner">
                                    <span class="minus"></span>
                                    <input style="font-weight:bold; font-size: 13px" type="text" class="in-num" value="3">
                                    <span class="plus"></span>
                                </div>
                            </div>
                            <div class="col-2 m-0 p-0">
                                <button class="button" id="btn-knn">
                                <i class="fa-solid fa-play"></i>
                            </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>

                    <!-- Toggle Dimensionality Reduction technique tsne/pca -->
                    <div class="container m-0 p-0" style="display:inline; text-align: left; font-size: 13px;">
                        <span style="font-size: 13px; text-align: left;" onclick=alertDimRedux()><i class="fa-solid fa-circle-question"></i></span>
                        <label class="form-check-label" for="toggleDimRedux" style="font-size: 13px; font-weight:500; ">2D projection</label>
                        <div class="row m-0 p-0">
                            <div class="col-10 m-0 p-0 pl-3 pt-1">
                                <input type="checkbox" checked data-toggle="toggle" data-style="round" data-size="xs" data-width=85 data-on="t-SNE" data-off="PCA" id="toggleDimRedux">
                            </div>
                            <div class="col-2 m-0 p-0 pt-1">
                                <button class="button" id="btn-toggleDimRedux">
                                    <i class="fa-solid fa-play"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>

                    <!-- slider for radius of glyph -->
                    <div class="container m-0 p-0" style="display:inline; text-align: left; font-size: 13px;">
                        <span class="pl-1" onclick=alertGlyphRadius()><i class="fa-solid fa-circle-question"></i></span>
                        <label class="pl-2" style="font-size: 13px; font-weight:500; ">Glyph Radius : </label>
                        <span style="font-weight:bold" id="sliderVal"></span>
                        <div class="row m-0 p-0">
                            <div class="col-10 m-0 p-0 pl-2">
                                <input type="range" min="10" max="20" value="15" steps='1' class="slider" id="myRange">
                            </div>
                            <div class="col-2 m-0 p-0">
                                <button class="button" id="btn-glyphRadius">
                                    <i class="fa-solid fa-play"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="double">

                <div class="card m-0 p-0 py-2" style="display:flex; text-align: left;">
                    <br>
                    <!-- Toggle glyph switch -->
                    <div class="form-check form-switch pl-1" style="text-align: left">
                        <span style="font-size: 13px; text-align: left;" onclick=alertGlyph()><i class="fa-solid fa-circle-question"></i></span>
                        <input class="pl-3" type="checkbox" checked data-toggle="toggle" data-style="round" data-size="xs" data-width=80 data-on="Flower" data-off="Polygon" id="toggleGlyph">
                        <label class="form-check-label" for="toggleGlyph" style="font-size: 13px; font-weight:500; ">Glyph</label>
                    </div>
                    <br>
                    <hr>

                    <!-- Toggle Overlap removal -->
                    <div class="form-check form-switch pl-1" style="text-align: left">
                        <span style="font-size: 13px; text-align: left;" onclick=alertOverlap()><i class="fa-solid fa-circle-question"></i></span>
                        <input class="pl-3" type="checkbox" checked data-toggle="toggle" data-style="round" data-size="xs" data-width=80 data-on="Remove" data-off="Keep" id="toggleDGrid">
                        <label class="form-check-label" for="toggleDGrid" style="font-size: 13px; font-weight:500; ">Overlap</label>
                    </div>
                    <br>
                    <hr>

                    <!-- Show labels switch -->
                    <div class="form-check form-switch pl-1" style="text-align: left">
                        <span style="font-size: 13px; text-align: left;" onclick=alertLabels()><i class="fa-solid fa-circle-question"></i></span>
                        <input class="pl-3" type="checkbox" checked data-toggle="toggle" data-style="round" data-size="xs" data-width=80 data-on="Show" data-off="Hide" id="toggleLabels">
                        <label class="form-check-label" for="toggleLabels" style="font-size: 13px; font-weight:500; ">Labels</label>
                    </div>
                    <br>
                    <hr>

                    <!-- Show grid switch -->
                    <div class="form-check form-switch pl-1" style="text-align: left">
                        <span style="font-size: 13px; text-align: left;" onclick=alertGrid()><i class="fa-solid fa-circle-question"></i></span>
                        <input class="pl-3" type="checkbox" checked data-toggle="toggle" data-style="round" data-size="xs" data-width=80 data-on="Show" data-off="Hide" id="toggleSvgGrid">
                        <label class="form-check-label" for="toggleSvgGrid" style="font-size: 13px; font-weight:500; ">Grid</label>
                    </div>
                </div>
                <hr class="double">

                <!-- reset button -->
                <div class="card" style="display:flex; text-align: left;">
                    <div class="container" style="display:contents; text-align: left; font-size: 13px;">
                        <div class="form-check form-switch m-0 p-0 ml-1 my-2" style="text-align: left">
                            <div>
                                <span class="p-0" onclick=alertReset()><i
                                        class="fa-solid fa-circle-question help"></i></span>
                                <input type="button" class="btn btn-info btn-sm ml-1" style="width:60%; height:20%" id="btn-reload" value="Reset" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Content -->
        <div id="content" style="height:100%">
            <div class="ml-1" style="height:95%">
                <svg class="svg1" id="chart1"></svg>
                <svg class="svg2" id="chart2"></svg>
            </div>
            <nav class="mx-2 mt-2 mb-0">
                <!-- <a id="menuButton" data-toggle="collapse" href="#" data-target="#sidebar" aria-expanded="false">Menu</a> -->
                <a href="#" id="menu">Menu</a>
                <div id="csvGrid" class="grid ag-theme-balham" style="display: none;"></div>
            </nav>
        </div>
    </div>
    <!-- wrapper end -->

    <script>
        // setting up the default states for toggle swtiches
        {
            $('#toggleDimRedux').bootstrapToggle('on') //on-tsne off-pca
            $('#toggleGlyph').bootstrapToggle('on') //on-flower off-polygon
            $('#toggleDGrid').bootstrapToggle('on') //on-overlapRemove off-keepOverlap
            $('#toggleLabels').bootstrapToggle('off') //on-showLabels off-hideLabels
            $('#toggleSvgGrid').bootstrapToggle('on') //on-keepGrid off-hideGrid
        }
    </script>

    <!-- Imports -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https:/d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="../js/d3-lasso.min.js"></script>

    <!-- PROSIT Charts -->
    <!-- glyphs scatter plot : svg1 -->
    <script src="../js/glyphsChart.js"></script>
    <!-- parallel cordinate chart : svg2 -->
    <script src="../js/parallelCoordinateChart.js"></script>
    <!-- loading symbol during buffer -->
    <script src="../js/buffering.js"></script>
    <script>
        // config
        var chart1 = "chart1"
        var chart2 = "chart2"
        var ids
        var selectedId
        var featurelist = $('#featureSelect').val()
        var currentfeaturelistPCP = featurelist
        var radius = +document.getElementById("myRange").value
        var k
        var toggleGlyph //'polygonGlyph' for Polygon Glyph and 'flowerGlyph' for Flower Glyph
        var toggleDimRedux
        var toggleDGrid
        var toggleLabels //true for showing labels
        var toggleSvgGrid //true for showing the grid
        var delayInMilliseconds = 220

        $.ajax({
            type: "GET",
            async: false,
            url: "/getIds",
            success: function(response) {
                ids = response
                ids_str = []
                ids.forEach(e => {
                    ids_str.push(e.toString())
                });

                selectedId = ids[Math.floor(Math.random() * ids.length)]
                $("#searchSelector").autocomplete({
                    source: ids_str
                });
                $("#searchSelector").attr("placeholder", selectedId.toString())
            }
        })

        // jquery handlers for initially setting the values of variables
        {
            $('#searchSelector').change(function() {
                var id = parseInt($('#searchSelector').val())
                var min = 1
                var max = ids.length
                if (!isNaN(id) && id >= min && id <= max) {
                    selectedId = id
                } else {
                    alert(`Enter a valid number between [${min}, ${max}]`)
                        // alertSearchBar()
                }
                $("#searchSelector").attr('placeholder', selectedId.toString());
                $('#searchSelector').val('');
            });

            if ($("#toggleGlyph").is(':checked')) {
                toggleGlyph = "flowerGlyph"
            } else {
                toggleGlyph = "polygonGlyph"
            }

            if ($("#toggleDimRedux").is(':checked')) {
                toggleDimRedux = "tsne"
            } else {
                toggleDimRedux = "pca"
            }

            if ($("#toggleDGrid").is(':checked')) {
                toggleDGrid = true
            } else {
                toggleDGrid = false
            }

            if ($("#toggleLabels").is(':checked')) {
                toggleLabels = true
            } else {
                toggleLabels = false
            }

            if ($("#toggleSvgGrid").is(':checked')) {
                toggleSvgGrid = true
            } else {
                toggleSvgGrid = false
            }

            k = $('#knnSpinner span').parents('.num-block').find('input.in-num').val()

            // jquery handlers for knn input spinner
            {
                //number spinner for knn param +/-
                $(document).ready(function() {
                    const min = 1
                    const max = ids.length
                    $('#knnSpinner span').click(function() {
                        count = $('#knnSpinner span').parents('.num-block').find('input.in-num').val()
                        var $input = $(this).parents('.num-block').find('input.in-num')
                        if ($(this).hasClass('plus')) count++
                            else count--
                                $input.val(count)
                        $input.change()
                        return false
                    })

                    // auto update the button for k param when input goes above the range
                    $('#knnSpinner span').parents('.num-block').find('input.in-num').on("change", () => {
                        count = $('#knnSpinner span').parents('.num-block').find('input.in-num').val()
                        if (isNaN(count)) {
                            count = 3
                        } else if (count <= min) {
                            count = min
                            $('#knnSpinner span').parents('.num-block').find(('.minus')).addClass('dis')
                        } else if (count >= max) {
                            count = max
                            $('#knnSpinner span').parents('.num-block').find(('.plus')).addClass('dis')
                        } else {
                            $('#knnSpinner span').parents('.num-block').find(('.minus')).removeClass('dis')
                            $('#knnSpinner span').parents('.num-block').find(('.plus')).removeClass('dis')
                        }
                        $('#knnSpinner span').parents('.num-block').find('input.in-num').val(count)
                        k = count
                    })
                })
            }

            // jquery handlers for showing chart for random data on screen
            {
                processDimRedux()
                callGlyphs()
                callParallelCord()
            }
        }

        // jquery handlers for regreshing charts after resizing
        {
            // auto refresh after window resizing
            jQuery(function($) {
                var windowWidth = $(window).width()
                var windowHeight = $(window).height()
                var id
                $(window).resize(function() {
                    clearTimeout(id)
                    id = setTimeout(doneResizing, 750)
                })

                function doneResizing() {
                    if (windowWidth != $(window).width() || windowHeight != $(window).height()) {
                        location.reload()
                        return
                    }
                }
            })

            // refresh after the side open or close using menu click event
            $("#menu").on('click', function() {
                $("#wrapper").toggleClass("no-sidebar")
                setTimeout(() => {
                    callGlyphs();
                    callParallelCord();
                    callRadialTime();
                }, delayInMilliseconds);
            });

            // uncomment below line to hide the sidebar after submit button
            // $("#sidebar").removeClass("show")

        }

        // jquery handlers for the input types in the Menu
        {
            //range slider 
            var slider = document.getElementById("myRange")
            var output = document.getElementById("sliderVal")
            output.innerHTML = slider.value
            slider.oninput = function() {
                radius = this.value
                output.innerHTML = radius
            }

            // switch to select glyphs
            $("#toggleGlyph").on('change', function() {
                if ($(this).is(':checked')) {
                    toggleGlyph = "flowerGlyph"
                } else {
                    toggleGlyph = "polygonGlyph"
                }
                // console.log("toggleGlyph: ", toggleGlyph)
                callGlyphs()
            })

            // switch to select the type of dimensionality reduction
            $("#toggleDimRedux").on('change', function() {
                if ($(this).is(':checked')) {
                    toggleDimRedux = "tsne"
                } else toggleDimRedux = "pca"
            })

            // switch to use DGrid to remove overlap over the glyphs
            $("#toggleDGrid").on('change', function() {
                if ($(this).is(':checked')) {
                    toggleDGrid = true
                } else {
                    toggleDGrid = false
                }
                // console.log("toggleDGrid: ", toggleDGrid)
                callGlyphs()
            })

            // switch to show or hide labels
            $("#toggleLabels").on('change', function() {
                if ($(this).is(':checked')) {
                    toggleLabels = true
                } else {
                    toggleLabels = false
                }
                // console.log("toggleLabels: ", toggleLabels)
                callGlyphs()
            })

            // switch to show or hide grid
            $("#toggleSvgGrid").on('change', function() {
                if ($(this).is(':checked')) {
                    toggleSvgGrid = true
                } else {
                    toggleSvgGrid = false
                }
                // console.log("toggleSvgGrid: ", toggleSvgGrid)
                callGlyphs()
            })

            // menu button click events
            $("#btn-searchId").click(function() {
                // selectedId = parseInt($("#btn-searchId").val())
                callGlyphs()
                callParallelCord()
            })
            $("#btn-featureSelection").click(function() {
                selectedId = d3.select("#" + chart1).select(".selectedGlyph").datum().id;
                processDimRedux()
                callGlyphs()
                callParallelCord()
            })
            $("#btn-knn").click(function() {
                processKNN()
                callGlyphs()
            })
            $("#btn-toggleDimRedux").click(function() {
                processDimRedux()
                callGlyphs()
                callParallelCord()
            })
            $("#btn-glyphRadius").click(function() {
                selectedId = d3.select("#" + chart1).select(".selectedGlyph").datum().id;
                processDimRedux()
                callGlyphs()
            })
        }

        // function to call the server route which computes the ML algorithms.
        function processDimRedux() {
            buffering(chart1, selectedId, toggleText = false)
            radius = +document.getElementById("myRange").value
            featurelist = $('#featureSelect').val()
            if (featurelist.length < 2) {
                alert("Please select more than one column in Feature selection drop down!!!")
            } else {
                w = Math.floor($('.svg1')[0].getBoundingClientRect().width)
                h = Math.floor($('.svg1')[0].getBoundingClientRect().height)
                var postForm = {
                    "featureColumns": featurelist,
                    "width": w,
                    "height": h,
                    "radius": radius,
                    "k": k,
                    "toggleDimRedux": toggleDimRedux
                }
                $.ajax({
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify(postForm),
                    url: "/dimReduceIds",
                    async: false,
                    success: function(status) {
                        if (status === "status1:fileUpdated") {
                            // console.log("FeatureData file updated")
                        } else console.log("unknown status", status, "File has been reset using default values")
                    }
                })
            }
        }

        function processKNN() {
            buffering(chart1, selectedId, toggleText = false)
            featurelist = $('#featureSelect').val()
            radius = +document.getElementById("myRange").value
            if (featurelist.length < 2) {
                alert("Please select more than one column in Feature selection drop down!!!")
            } else {
                postForm = {
                    "featureColumns": featurelist,
                    "k": k
                }
                $.ajax({
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify(postForm),
                    url: "/knnClustering",
                    async: false,
                    success: function(status) {
                        if (status === "status1:fileUpdated") {
                            // console.log("FeatureData file updated")
                        } else console.log("unknown status", status, "File has been reset using default values")
                    }
                })
            }
        }

        function callGlyphs() {
            radius = +document.getElementById("myRange").value
            setTimeout(function() {
                //your code to be executed after 1 second
                updateGlyphs(chart1, chart2, selectedId, featurelist, radius, toggleGlyph, toggleDGrid, toggleLabels, toggleSvgGrid)
            }, delayInMilliseconds)
        }

        function callParallelCord() {
            updateParallelCord(chart2, selectedId, [], featurelist)
        }

        {
            // help button alerts
            function alertSearchBar() {
                alert("Searchbar to find an Id and highlight it on the Glyph View.")
            }

            function alertFeatureSelection() {
                alert("This multi-select dropdown filters the features used to compute 2D projections by Dimensionality Reduction and predicted labels using the KNN classifier and filters the axes in a parallel coordinate chart.")
            }

            function alertKparam() {
                alert("K-Nearest Neighbors(KNN) is a supervised ML algorithm. It finds the K nearest neighbours per the specified distance metric('minkowski' in this use case) and classifies the instance using those K closest class labels. This spinner varies the K parameter.")
            }

            function alertDimRedux() {
                alert("Dimensionality Reduction(DR) refers to the problem of mapping high dimensional data points into meaningful representations of reduced dimensions(2D in this use case). T-SNE and PCA are the two most popular methods used for DR. This switch toggles between the t-SNE and PCA DR techniques.")
            }

            function alertOverlap() {
                alert("DGrid: novel post-processing strategy to remove occlusion caused by Dimensionality Reduction(DR) technique. This switch applies DGrid technique to DR projections. [cite: https://arxiv.org/abs/1903.06262]")
            }

            function alertGlyphRadius() {
                alert("This slider varies the radius of the Glyph icon over the Glyph View.")
            }

            function alertGlyph() {
                alert("This switch toggles between two Glyph icons(Polygon/Flower) used to represent individual data points.")
            }

            function alertLabels() {
                alert("This switch displays the Id corresponding to each data point over the Glyph View.")
            }

            function alertGrid() {
                alert("This switch displays a 3*3 grid including 100 horizontal and 100 vertical thin lines over the Glyph View. This grid does not represent any data, and it only assists in perceiving distances between various visual representations.")
            }

            function alertReset() {
                alert("This button resets all the input selections in the Menu to default.")
            }

            $("#btn-reload").click(function(event) {
                location.reload()
            })
        }
    </script>
</body>

</html>